@model IEnumerable<TurizmUygulama.Models.tur_bilgisi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yurt İçi Turlar</h2>

<p>
    @Html.ActionLink("Yeni Tur Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TurAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaslangicSehri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TurSuresi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TurAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaslangicTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaslangicSehri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TurSuresi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.TurID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.TurID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.TurID })
        </td>
    </tr>
}

</table>
